.beers-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(192, 192, 192);
    width: 100%;
}

.beers-section img{
    height: 10rem;
}
.beers-section picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.beers-section .text-content{
    display: flex;
    flex: 1;
    flex-grow: 1;
    min-width: 300px;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 1rem;
    margin-left: 4rem;
}

